<table border="0" style="border-collapse: collapse; width: 80%; background:transparent; margin:0 auto;">
    <tbody>
        <tr>
            <td style="width: 50%; text-align: center; background:transparent;">
                <div class="card text-white bg-secondary mb-3" style="max-width: 25rem; margin:0 auto;">
                    <div class="card-header">
                        <h4>Operations</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">All services and tools required to support the Oxide Cloud services can be found here.</p>
                        <form action="jobs" method="post"><input class="btn btn-success" type="submit" value="Job Dashboard" /></form>
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>