{% extends "base.html" %} {% block title %}Servers{% endblock %} {% block main_heading %}Server List{% endblock %} {% block instruction %}Games Servers{% endblock %} {% block content %}
<p><img style="display: block; margin-left: auto; margin-right: auto;" src="https://cdna.artstation.com/p/assets/images/images/023/913/316/large/andre-kent-peon-turntable.jpg" alt="Andr&eacute; Kent - Peon" width="800" height="251" /></p>
<blockquote>
    <p style="text-align: center;">- More work!?!</p>
</blockquote>{% endblock%}